<div id="authorizationContainer">
	<div id="loading">
		<p id='loadingImg'> LOADING </p>
	</div>
	<section id="preAuth">
		<h1> Welcome to the YoutubePlaylist Generator</h1>
  		<p id="eh"> This website needs authorization from google to continue </p>
    	<button id="authorize">Authorize</button>
    	<div id="example"></div>
    	<div id="playlistContainer"></div>
	</section>
	<section id="postAuth">
		<p> To create a playlist you must export your bookmarks as a .html file </p>
		<p> Please refer to these links below on how to do so</p>
		<form enctype="multipart/form-data">
			<input type="file" id="file-select" name="playlists" accept="text/html"/>
			<button type="submit" id="createPlaylist">Upload</button>
		</form>
	</section>
</div>
