<div id="authorizationContainer">
	<div id="loading">
	</div>
	<section id="preAuth">
		<h1> Welcome to the YoutubePlaylist Generator</h1>
  		<p id="eh"> This website needs authorization from google to continue </p>
    	<button id="authorize">Authorize</button>
	</section>
	<section id="postAuth">
		<div id="wrap">
		  <div class="bubble">
			<span> Create Playlists </span>
		  </div>
		  <div class="content">
		    <p> This app creates youtube playlists from your bookmarked youtube videos </p>
		    <p> In order to create a playlist you must export your bookmarks as a .html file</p>
		    <p>Please refer <a href="#">here</a> on how to do so.</p>
		    <form enctype="multipart/form-data">
		  	  <div class="col-half">
		  	    <label for="file-upload" class="custom-file-upload">
    			Select File
			    </label>
			    <input id="file-upload" type="file" name="uploader"/>
			  </div>
			  <div class="col-half">
			    <button class="uploadBtn" type="submit" id="createPlaylist" disabled>Upload</button>
			  </div>
		    </form>
		</div>
	</div>
	</section>
</div>
<div id="playlistContainer">	
</div>