body{
	width: 80%;
    margin: 0 auto;	
    padding: 0;
    width: 960px;
}

header {
	background-color: #e52d27;
	font-size: 32px;

	h1 {
	  color: white;
	  text-align: center;
	}
}

#authorizationContainer {
	height: 200px;
}

#loading {
	width: 100%;
	display: block;
	opacity: 0.7;
	z-index: 99;
}

#loadingImg {
	z-index: 100;
	margin: auto 0;
}

#preAuth {
  display: none;
}

#postAuth {
	display: none;
}
